.div1 {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  
}

.img {
  width: 10px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  margin: 1rem;
}