.div1 {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
  }

.img1 {
    width: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    background-image: url(./imagenes/razerIcon.webp);
     background-repeat: no-repeat;
}

.img1 {
    margin: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
}