.pagination {
  display: flex;
  padding-bottom: 20px;
  align-content: center;
  justify-content: center;
}

.pagination span{
  clear: both;
  display: block;
}

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
}

.pagination button {
  color: gray;
  font-size: 17px;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination button.active {
  background-color: #4bb8ff;
  color: gray;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}