.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 10px;
  height: 100px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  /* background-color: #fff; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}

.price_Delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  height: 80px;
  margin: 2rem;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.price {
  margin-right: 1rem;
  margin-left: 1rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartas{
  background-color: black;
}