@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
}

.card {
  margin: 1rem;
  cursor: pointer;
}

.cardShop {
  position: absolute !important;
  right: 15px;
  top: 16px;
}

.favorite {
  position: absolute !important;
  top: 65px;
  right: 16px;
}

.price_Discount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ahora12 {
  position: absolute;
  height: 60px;
  margin-right: 4rem;
  right: -37px;
}

.card {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.856);
  border: solid 1px rgba(5, 4, 4, 0.288);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.4s;
}

.card:hover {
  background-position: right center;
  transform: scale(1.02);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #bebebe;
}

.imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0.5rem;
  height: 60px;
  color: black;
}

.img {
  margin-top: 2rem;
  /* margin: 0.5rem; */
  height: 180px;
}

.price {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  height: 20px;
}

/* Estilo de estrellas */
.calificacion {
  display: flex;
  width: 100%;
  justify-content: center;
}

.starsOuter {
  display: inline-block;
  position: relative;
  margin-top: -30px;
  margin: 0 auto;
}

.starsOuter::before {
  content: "\2606 \2606 \2606 \2606 \2606";
  color: rgba(108, 108, 108, 0.314);
  font-size: 30px;
}

.starsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.starsInner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #f8ce0b;
  font-size: 30px;
}

.stock {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 25px;
  color: white;
  background-color: #4caf50;
  font-size: 0.75rem;
  border-radius: 5px;
}

.pocoStock {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 25px;
  color: white;
  background-color: #f78717 !important;
  font-size: 0.75rem;
  border-radius: 5px;
}

.sin {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  color: white;
  background-color: #a0aec0;
  font-size: 0.75rem;
  border-radius: 5px;
}
