.navBar {
  width: 100%;
  height: 80px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  margin: 0 auto;
}

.subNav {
  width: 100%;
  height: 80px;
  background-color: #f7fafc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  
}

.select {
  color: #495057;
  border-color: #495057;
  margin: 0.25rem;
  cursor: pointer;
}

.ayuda {
  margin-right: 4rem;
}

.options {
  margin: 1rem;
}

.logo {
/*   display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 3rem;
  font-size: 1.25rem; */
}
.h1Logo {
  flex-direction: row;
  margin-left: 1rem;
  width: 400px;
  color: gray;
  /* margin: 0; */
  margin-left: 2rem;
  margin-bottom: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.button {
  margin: 0.75rem;
}

.buttons {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  margin-right: 1rem;
  cursor: pointer;
}
.cartI {
  display: flex;
  flex-direction: row;
}

.items {
  color: black;
  margin-right: 0.5rem;
}

.avatar {
  margin-left: 1.5rem;
}
