.box {
  width: 100%;
  align-items: flex-end;
  background-image: linear-gradient(
    to bottom,
    #c3c3cb,
    #bdbdc3,
    #b7b6ba,
    #b0b0b2,
    #aaaaaa
  );
}

.input {
  margin: 0;
  color: black;
}

.box1 {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mapa{
width: 500px;
height: 300px;
border: 0px;
}

.texto{
  font-size: 22px;
}
