.navBar{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.detail {
  display: grid;

}
.contenedor{
  /* transform: scale(1); */
  /* height: 700px; */
  height: auto;
  width: 60%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin: 2rem; */
  border-radius: 20px;
  padding: 1.5rem;
}

.primerDiv{
  width: 300px;
   margin-left: 100px;
  position:relative;
  right: 10px;
 }

.segundoDiv{

  margin-left: 100px;
 /* position:relative;
 right: 10px; */
 /* position: relative; */
}




.imgDetail {
  /* transform: scale(1.5rem); */
  width: 400px;
  height: 50%;
  padding-left: 2rem;
  /* margin-left: 7rem; */
  position: relative;
}
.texto{
  margin-left: 5rem; 
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}
.text {
  margin-right: 5rem;
  margin-left: 1rem;
}

.name {
  font-size: 3rem;
  /* margin-left: 5rem; */
  margin-bottom: 100px;
  justify-content: center;
  display: flex;
}

.caracteristicas{
  position: relative; 
  top: -20px;
  font-weight: 600;
}

.description {
  font-size: 1.5rem;
  width: 500px;

}


.descripcionDupla{
  position: relative; 
  top: -50px;
}

.price {
  margin: 1rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}



.price_cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preguntas {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: grid;
  align-items: center;
  flex-direction: row;
  /* width: 90%; */
  margin: 2rem;
  border-radius: 20px;
  padding: 1.5rem;
}

.tituloPreguntas {
  font-size: 35px;
  contain: content;
  margin-bottom: 15px;
}

.tituloPreguntas2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;  
  contain: content;
  margin-bottom: 15px;
}


.question {
  background-color: rgb(240, 240, 224);
  display: grid;
  border: 3px solid rgba(71, 70, 70, 0.5);
  border-radius: 15px ;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.question3 {
  background-color: rgb(240, 240, 224);
  color: black;
  display: grid;
  border: 3px solid rgba(71, 70, 70, 0.5);
  border-radius: 15px ;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.question dd {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-top: 20px;
  color:rgb(63, 61, 61);
  
}

.question dt{
  font-weight:500;
  color: black;
  font-size: 20px;
  contain: content;
}
.newQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.newQuestion textarea {
  width:70%;
  height:50px;
  font-size: 20px;
  border:1px solid black;
  box-shadow: 0 5px 15px rgba(27, 51, 97, 0.514);
  border-radius: 15px ;
}
.enviar{

  margin-left: 20px;
}
/* /////////////////////////////////////// */
.calificacion {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative; 
  top: -20px;
}

.starsOuter {
  display: inline-block;
  position: relative;
  margin-top: -30px;
  margin: 0 auto;

}

.starsOuter::before {
  content: "\2606 \2606 \2606 \2606 \2606";
  color: rgba(108, 108, 108, 0.314);
  font-size: 50px;
}

.starsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.starsInner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #f8ce0b;
  font-size: 50px;
}



