.navBar{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
.contenedor{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 900px;
  height: 400px;
  margin: 10rem;
  border-radius: 20px;
}

.imgDetail {
  height: 300px;
  width: 200px;
  margin: 10rem;
  margin-left: 1rem;
  position: relative;
}
.texto{
  position:absolute;
  top: 70px;
  bottom: 1px;
  display: flex;
  align-items: center;
  justify-content:right;
  flex-direction: row;
  margin-top: 20px;
}
.text {
  /* justify-content:center; */
  margin-right: 5rem;
  margin-left: 1rem;
}

.name {
  font-size: 2rem;
}

.price {
  margin: 1rem;
  font-size: 1.5rem;
  /* margin-left: 5rem; */
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.price_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6+rem;
}



