
body {
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  }
  
  .carrusel {
    display: flex;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .carruselitems {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px;
    
    
    
  }
  
  .carruselitem {
    min-width: 300px;
    max-width: 300px;
    height: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin:auto;
    
  }
  
  .carruselitem img {
    margin:  auto;
    width: 50%;
    
    
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  .carruselitem:hover {
    transform: scale(1.2);
  }