.navBar { /* no esta asignado a nada? */
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  margin: 0 auto;
}

.subNav {
  width: 100%;  
  height: 80px;
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 30px rgba(73, 164, 206, 0.2); /* esto cambie para el modo noche */

}

.selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.select {
  /* color: #495057; */
  /* border-color: #495057; */
  margin: 0.25rem;
  cursor: pointer;
}

.ayuda {
  margin-right: 4rem;
}

.options {
  margin: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 3rem;
  font-size: 1.25rem;
}
.h1Logo {
  margin-left: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0.75rem;
}

.buttons {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  margin-right: 1rem;
  cursor: pointer;
}
.cartI {
  display: flex;
  flex-direction: row;
}

.items {
  color: black;
  margin-right: 0.5rem;
}

.avatar {
  margin-left: 1.5rem;
}
